/* padding  */
.pt_29 {
    padding-top: 29px;
}

.pt_51 {
    padding-top: 51px;
}

.pt_21 {
    padding-top: 21px;
}

.pb_34 {
    padding-bottom: 34px;
}

.pl_41 {
    padding-left: 41px;
}

.pr_22 {
    padding-right: 22px;
}

.pl_36 {
    padding-left: 36px;
}

.pb_29 {
    padding-bottom: 29px;
}

.pb_33 {
    padding-bottom: 33px;
}

.pb_51 {
    padding-bottom: 51px;
}
.pt_38{
    padding-top: 38px;
}

.pl_0 {
    padding-left: 0;
}

.pr_35 {
    padding-right: 35px;
}

.pr_38 {
    padding-right: 38px;
}

.pt_11 {
    padding-top: 11px;
}

.pb_10 {
    padding-bottom: 10px;
}
.pt_31{
    padding-top: 31px;
}
.pb_30{
    padding-bottom: 30px;
}
.pl_65{
    padding-left: 65px;
}
.pr_64{
    padding-right: 64px;
}
.pt_33{
    padding-top: 33px;
}
.pb_32{
    padding-bottom: 32px;
}
.pl_38{
    padding-left: 38px;
}

.pl_27 {
    padding-left: 27px;
}

.pr_27 {
    padding-right: 27px;
}

/* margin  */
.mt_40 {
    margin-top: 40px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mt_43 {
    margin-top: 43px;
}

/* border  */
.border_in_your_city {
    border: 5px solid #3CBD96;
}

/* border radius  */
.br_10 {
    border-radius: 10px;
}
.br_input_10{
    border-radius: 10px 0px 0px 10px;
}
/* width  */
.mw_568 {
    max-width: 568PX;
}
.mw_700{
    max-width: 700px;
}
.mw_661{
    max-width: 661px;
}
.mw_225{
    max-width: 225px;
}

/* line height  */
.lh_50 {
    line-height: 50px;
}

.lh_110 {
    line-height: 110px;
}

.lh_80 {
    line-height: 80px;
}
.lh_40{
    line-height: 40px;
}
/* top bottom left right  */
.right_0{
    right: -200px;
}
.top_0{
    bottom: -120px;
}

/* menuicon  */
.menuicon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 25px;
}

.menuicon>span {
    width: 100%;
    height: 5px;
    background-color: black;
    z-index: 5;
}
/* outline  */
.outline_none{
    outline: none;
}
/* before after  */
.corner_top_boxes::after {
    content: "";
    position: absolute;
    background: #FFFFFF;
    border: 3.5px solid #3CBD96;
    width: 22px;
    height: 22px;
    top: -9px;
    left: 554px;
}
.corner_top_boxes::before {
    content: "";
    position: absolute;
    background: #FFFFFF;
    border: 3.5px solid #3CBD96;
    width: 22px;
    height: 22px;
    top: -8px;
    left: -8px;
    z-index: 2;
}
.corner_bottom_boxes::after {
    content: "";
    position: absolute;
    background: #FFFFFF;
    border: 3.5px solid #3CBD96;
    width: 22px;
    height: 22px;
    bottom:-13px;
    right: -13px;
}

.corner_bottom_boxes::before {
    content: "";
    position: absolute;
    background: #FFFFFF;
    border: 3.5px solid #3CBD96;
    width: 22px;
    height: 22px;
    bottom: -13px;
    left: -13px;
}

/* media screen  */
@media (max-width:1200px) {
    .pr_17_xxl {
        padding-right: 17px;
    }

    .pl_18_xxl {
        padding-left: 18px;
    }

    .w_90_1200 {
        width: 90% !important;
    }
}

@media (max-width:992px) {
    .navbar {
        position: fixed;
        align-items: center !important;
        justify-content: center !important;
        top: 0px;
        left: -100%;
        width: 100%;
        display: flex;
        height: 100vh;
        background-color: #FFFAF5;
        opacity: 0.9;
    }

    .menuicon {
        display: flex !important;
    }

    .nav_left0 {
        left: 0;
    }

    .p_lg_0 {
        padding: 0;
    }

    .ml_12_lg {
        margin-left: 12px;
    }

    .mb_20_lg {
        margin-bottom: 20px;
    }

    .mt_20_lg {
        margin-top: 20px;
    }

    .d_block {
        display: block !important;
    }

    .h_100vh {
        height: 100vh;
    }
}

@media (max-width:576px) {
    .dis_none {
        display: none !important;
    }

    .w_75_576 {
        width: 75% !important;
    }
}